.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: auto; /* Tavs vēlamais izmērs */
  height: 500px; /* Nekas netiek apgriezts */
  display: block;
  margin: 0 auto 20px; /* Centrējam */
  object-fit: contain;
  border-radius: 10px;
}

.tags {
  margin: 15px 0;
}

.editor {
  margin: 30px -30px;

  :global {
    .CodeMirror {
      min-height: 150px;
      max-height: 300px; // Šis ierobežos lielo logu
    }
    .editor-toolbar {
      border: 0;
      background-color: rgb(0 0 0 / 2%);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
.post-title {
  background-color: blue($color: #2725b1);
}
  
