body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}
html {
  overflow-y: scroll;
}
/* Stilīgs skrollbārs visiem sarakstiem */
ul::-webkit-scrollbar {
  width: 6px;
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

ul::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
  background: #999;
}
