body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}
html {
  overflow-y: scroll;
}
/* Chrome, Edge, Safari skrollbārs */
*::-webkit-scrollbar {
  width: 6px; /* Padara šaurāku */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Fonu var atstāt caurspīdīgu */
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Pelēka krāsa */
  border-radius: 10px; /* Noapaļoti stūri */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* Tumšāks, kad uzbrauc ar peli */
}

/* Firefox skrollbārs */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}
